# 平台
CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7581=y
CONFIG_TARGET_airoha_an7581_DEVICE_airoha_an7581-nokia-xg-040g-md=y

# 内核 6.1
CONFIG_KERNEL_6_1=y
CONFIG_SOC_AN7581=y

# AN7581 网络驱动 + EN8811HN PHY
CONFIG_AIROHA_ENET_DSA=y
CONFIG_AIROHA_ENET_10G=y
CONFIG_AIROHA_ENET_HW_NAT=y

CONFIG_PACKAGE_kmod-airoha-enet=y
CONFIG_PACKAGE_kmod-airoha-enet-dsa=y
CONFIG_PACKAGE_kmod-airoha-enet-10g=y
CONFIG_PACKAGE_kmod-airoha-enet-hw-nat=y

# 闪存
CONFIG_PACKAGE_kmod-spi-nand=y
CONFIG_PACKAGE_kmod-ubifs=y
CONFIG_KERNEL_MTD=y
CONFIG_KERNEL_UBIFS_FS=y

# LuCI 中文
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=y

# Macvlan
CONFIG_KERNEL_MACVLAN=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_macvlan-utils=y

# 纯有线路由 补齐项
CONFIG_KERNEL_VLAN_8021Q=y
CONFIG_PACKAGE_kmod-8021q=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_ppp-mod-pptp=y
CONFIG_PACKAGE_ppp-mod-l2tp=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iptables-mod-extra=y

# 系统基础
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_ubus=y
CONFIG_PACKAGE_procd=y

# 网络核心
CONFIG_PACKAGE_kmod-bridge=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-fib=y

# GPIO / LED / 看门狗
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-wdt-airoha=y
CONFIG_PACKAGE_kmod-pwm-airoha=y

# PCIe & USB
CONFIG_PACKAGE_kmod-pcie-dw-airoha=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
