CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7581=y
CONFIG_TARGET_airoha_an7581_DEVICE_airoha_an7581-nokia-xg-040g-md=y
CONFIG_TARGET_BOARD="airoha"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_airoha_an7581-nokia-xg-040g-md=y

CONFIG_KERNEL_6_6=y
CONFIG_SOC_AN7581=y

CONFIG_PACKAGE_kmod-airoha-enet=y
CONFIG_PACKAGE_kmod-airoha-enet-dsa=y
CONFIG_PACKAGE_kmod-airoha-enet-10g=y
CONFIG_PACKAGE_kmod-airoha-enet-hw-nat=y

CONFIG_PACKAGE_kmod-spi-nand=y
CONFIG_PACKAGE_kmod-ubifs=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-pcie-dw-airoha=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y

CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-8021q=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_iperf3=y
